Repository otomadb/graphql-api: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: 'npx eslint {staged_files}
  
    '
  skip:
  - merge
  - rebase

prettier:
  run: 'npx prettier --ignore-unknown {staged_files}
  
    '
  skip:
  - merge
  - rebase

`resolveYoutubeRegistrationRequest`の実装とそれに付随する修正
  codegen.yml
  prisma/migrations/20231214060108_resolve_youtube_regreq/migration.sql
  prisma/migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  prisma/schema.prisma
  src/Notification/Notification.dto.ts
  src/Notification/Notification.graphql
  src/Timeline/TimelineEvent.dto.ts
  src/Timeline/TimelineEvent.graphql
  src/Timeline/TimelineEvent.resolver.ts
  src/Timeline/TimelineEvent.service.test.ts
  src/Timeline/TimelineEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEventConnection.resolver.ts
  src/YoutubeRegistrationRequest/resolveYoutubeRegistrationRequest.graphql
  src/YoutubeRegistrationRequest/resolveYoutubeRegistrationRequest.resolver.ts
  src/YoutubeVideoSource/YoutubeVideoSource.graphql
  src/YoutubeVideoSource/registerVideoFromYoutube.graphql
  src/YoutubeVideoSource/registerVideoFromYoutube.resolver.ts
  src/index.ts
  src/mutation.ts
  src/resolvers.ts
  src/resolvers/id.ts
  src/resolvers/types.ts
Due: eslint, prettier

skip unused test
  src/Timeline/TimelineEvent.service.test.ts
Due: eslint, prettier

`resolveYoutubeRegistrationRequest`の実装とそれに付随する修正 (#1113)
  codegen.yml
  prisma/migrations/20231214060108_resolve_youtube_regreq/migration.sql
  prisma/migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  prisma/schema.prisma
  src/Notification/Notification.dto.ts
  src/Notification/Notification.graphql
  src/Timeline/TimelineEvent.dto.ts
  src/Timeline/TimelineEvent.graphql
  src/Timeline/TimelineEvent.resolver.ts
  src/Timeline/TimelineEvent.service.test.ts
  src/Timeline/TimelineEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestChecking.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestCheckingEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.dto.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.graphql
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.resolver.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEvent.service.ts
  src/YoutubeRegistrationRequest/YoutubeRegistrationRequestEventConnection.resolver.ts
  src/YoutubeRegistrationRequest/resolveYoutubeRegistrationRequest.graphql
  src/YoutubeRegistrationRequest/resolveYoutubeRegistrationRequest.resolver.ts
  src/YoutubeVideoSource/YoutubeVideoSource.graphql
  src/YoutubeVideoSource/registerVideoFromYoutube.graphql
  src/YoutubeVideoSource/registerVideoFromYoutube.resolver.ts
  src/index.ts
  src/mutation.ts
  src/resolvers.ts
  src/resolvers/id.ts
  src/resolvers/types.ts
Due: eslint, prettier

untracked files on main: a40ed55 NicovideoVideoSourceにregisteredAtを追加
  docs/postgres.md
Due: prettier

NicovideoVideoSourceにregisteredAtを追加
  prisma/migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  prisma/schema.prisma
  src/NicovideoVideoSource/NicovideoVideoSource.graphql
  src/NicovideoVideoSource/NicovideoVideoSource.resolver.ts
  src/NicovideoVideoSource/dto.ts
  src/resolvers.ts
Due: eslint, prettier

fx
  src/NicovideoVideoSource/registerVideoFromNicovideo.resolver.test.ts
Due: eslint, prettier

NicovideoVideoSourceにregisteredAtを追加 (#1117)
  docs/postgres.md
  prisma/migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  prisma/schema.prisma
  src/NicovideoVideoSource/NicovideoVideoSource.graphql
  src/NicovideoVideoSource/NicovideoVideoSource.resolver.ts
  src/NicovideoVideoSource/dto.ts
  src/NicovideoVideoSource/registerVideoFromNicovideo.resolver.test.ts
  src/resolvers.ts
Due: eslint, prettier

Update auth0 to v4
  package-lock.json
  package.json
  src/User/service.ts
  src/index.ts
  src/resolvers/types.ts
Due: eslint, prettier

Update auth0 to v4 (#1120)
  package-lock.json
  package.json
  src/User/service.ts
  src/index.ts
  src/resolvers/types.ts
Due: eslint, prettier

mv
  migrations/20230212213107_init/migration.sql
  migrations/20230214152028_semitag_checking/migration.sql
  migrations/20230215051310_semitag_checking2/migration.sql
  migrations/20230221153900_nicovideo_registration_request/migration.sql
  migrations/20230222213316_add_thumbnail_url_to_nicovideo_request/migration.sql
  migrations/20230226220843_nicovideo_regreq_event/migration.sql
  migrations/20230312151513_category_typing/migration.sql
  migrations/20230326031513_youtube_video_source/migration.sql
  migrations/20230405161313_mylist_slug_optional/migration.sql
  migrations/20230405161826_mylist_slug_ensure/migration.sql
  migrations/20230407095907_remove_prisma/migration.sql
  migrations/20230407100556_remove_user_props/migration.sql
  migrations/20230407100807_remove_userrole/migration.sql
  migrations/20230412133522_/migration.sql
  migrations/20230412143301_notification_checked/migration.sql
  migrations/20230425073300_remove_is_like_list_from_mylist/migration.sql
  migrations/20230503075104_add_category_type_class/migration.sql
  migrations/20230516225552_youtube_regreq/migration.sql
  migrations/20230517002240_soundcloud_videosource/migration.sql
  migrations/20230921220329_bilibili_mad_source/migration.sql
  migrations/20230921233420_bilibili_source_events/migration.sql
  migrations/20231024215622_soundcloud_regreq/migration.sql
  migrations/20231025041728_soundcloud_regreq_nullable_thumbnail/migration.sql
  migrations/20231025055955_bilibili_regreq/migration.sql
  migrations/20231208153900_/migration.sql
  migrations/20231208180729_/migration.sql
  migrations/20231209153813_abstractgroup/migration.sql
  migrations/20231210102809_abstractgroup2/migration.sql
  migrations/20231210145837_tagparent_disable/migration.sql
  migrations/20231210151413_rm_categorytagtyping/migration.sql
  migrations/20231214060108_resolve_youtube_regreq/migration.sql
  migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  migrations/20231216122702_is_original/migration.sql
  migrations/migration_lock.toml
  package-lock.json
  schema.prisma
Due: prettier

`Query.findMadsByOffset`にある範囲の投稿時刻の音MADを取得するFilterを追加 (https://github.com/otomadb/backend/issues/37)
  nodejs/prisma/migrations/20231216122702_is_original/migration.sql
  prisma/schema.prisma
  src/NicovideoVideoSource/registerVideoFromNicovideo.resolver.test.ts
  src/Video/Video.service.ts
  src/Video/findMadsByOffset.graphql
  src/Video/findMadsByOffset.resolver.ts
  src/YoutubeVideoSource/registerVideoFromYoutube.resolver.test.ts
Due: eslint, prettier

軽微な修正 (https://github.com/otomadb/backend/issues/42)
  src/User/User.graphql
  src/User/User.resolver.ts
  src/User/ensuredViewer.graphql
  src/User/ensuredViewer.resolver.ts
  src/query.ts
Due: eslint, prettier

Mylist関連のミスを修正 (https://github.com/otomadb/backend/issues/45)
  prisma/schema.prisma
  src/Mylist/addVideoToMylist.graphql
  src/Mylist/addVideoToMylist.resolver.ts
  src/Mylist/removeVideoFromMylist.graphql
  src/Mylist/removeVideoFromMylist.ts
  src/mutation.ts
  src/resolvers/Mutation/addVideoToMylist/add.ts
  src/resolvers/Mutation/addVideoToMylist/addVideoToMylist.graphql
  src/resolvers/Mutation/addVideoToMylist/addVideoToMylist.ts
  src/resolvers/Mutation/addVideoToMylist/neo4j.ts
  src/resolvers/Mutation/removeVideoFromMylist/neo4j.ts
  src/resolvers/Mutation/removeVideoFromMylist/removeVideoFromMylist.graphql
  src/resolvers/Mutation/removeVideoFromMylist/removeVideoFromMylist.ts
  src/resolvers/Mutation/undoLikeVideo/neo4j.ts
  src/resolvers/Mylist/index.ts
  src/resolvers/Mylist/registrations/resolver.ts
Due: eslint, prettier

`updateMylistSlug`の追加 (https://github.com/otomadb/backend/issues/47)
  src/Mylist/updateMylistSlug.graphql
  src/Mylist/updateMylistSlug.resolver.ts
  src/mutation.ts
Due: eslint, prettier

graphql-apiのbuild周りを修正 (https://github.com/otomadb/backend/issues/48)
  build.ts
  package.json
Due: eslint, prettier

`Mutation.updateMylistTitle`を追加 (https://github.com/otomadb/backend/issues/50)
  src/Mylist/updateMylistTitle.graphql
  src/Mylist/updateMylistTitle.resolver.ts
  src/mutation.ts
Due: eslint, prettier

fix graphql-api
  nodejs/graphql-api/proto/ixgyohn/proxy/v2/proxy.proto
  src/Common/Images.service.ts
  src/index.ts
Due: eslint, prettier

rm prisma
  prisma/migrations/20230212213107_init/migration.sql
  prisma/migrations/20230214152028_semitag_checking/migration.sql
  prisma/migrations/20230215051310_semitag_checking2/migration.sql
  prisma/migrations/20230221153900_nicovideo_registration_request/migration.sql
  prisma/migrations/20230222213316_add_thumbnail_url_to_nicovideo_request/migration.sql
  prisma/migrations/20230226220843_nicovideo_regreq_event/migration.sql
  prisma/migrations/20230312151513_category_typing/migration.sql
  prisma/migrations/20230326031513_youtube_video_source/migration.sql
  prisma/migrations/20230405161313_mylist_slug_optional/migration.sql
  prisma/migrations/20230405161826_mylist_slug_ensure/migration.sql
  prisma/migrations/20230407095907_remove_prisma/migration.sql
  prisma/migrations/20230407100556_remove_user_props/migration.sql
  prisma/migrations/20230407100807_remove_userrole/migration.sql
  prisma/migrations/20230412133522_/migration.sql
  prisma/migrations/20230412143301_notification_checked/migration.sql
  prisma/migrations/20230425073300_remove_is_like_list_from_mylist/migration.sql
  prisma/migrations/20230503075104_add_category_type_class/migration.sql
  prisma/migrations/20230516225552_youtube_regreq/migration.sql
  prisma/migrations/20230517002240_soundcloud_videosource/migration.sql
  prisma/migrations/20230921220329_bilibili_mad_source/migration.sql
  prisma/migrations/20230921233420_bilibili_source_events/migration.sql
  prisma/migrations/20231024215622_soundcloud_regreq/migration.sql
  prisma/migrations/20231025041728_soundcloud_regreq_nullable_thumbnail/migration.sql
  prisma/migrations/20231025055955_bilibili_regreq/migration.sql
  prisma/migrations/20231208153900_/migration.sql
  prisma/migrations/20231208180729_/migration.sql
  prisma/migrations/20231209153813_abstractgroup/migration.sql
  prisma/migrations/20231210102809_abstractgroup2/migration.sql
  prisma/migrations/20231210145837_tagparent_disable/migration.sql
  prisma/migrations/20231210151413_rm_categorytagtyping/migration.sql
  prisma/migrations/20231214060108_resolve_youtube_regreq/migration.sql
  prisma/migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  prisma/migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

cleanup
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier

fx ci
  .github/workflows/ci.yml
Due: prettier

init
  package-lock.json
  prisma/migrations/20230212213107_init/migration.sql
  prisma/migrations/20230214152028_semitag_checking/migration.sql
  prisma/migrations/20230215051310_semitag_checking2/migration.sql
  prisma/migrations/20230221153900_nicovideo_registration_request/migration.sql
  prisma/migrations/20230222213316_add_thumbnail_url_to_nicovideo_request/migration.sql
  prisma/migrations/20230226220843_nicovideo_regreq_event/migration.sql
  prisma/migrations/20230312151513_category_typing/migration.sql
  prisma/migrations/20230326031513_youtube_video_source/migration.sql
  prisma/migrations/20230405161313_mylist_slug_optional/migration.sql
  prisma/migrations/20230405161826_mylist_slug_ensure/migration.sql
  prisma/migrations/20230407095907_remove_prisma/migration.sql
  prisma/migrations/20230407100556_remove_user_props/migration.sql
  prisma/migrations/20230407100807_remove_userrole/migration.sql
  prisma/migrations/20230412133522_/migration.sql
  prisma/migrations/20230412143301_notification_checked/migration.sql
  prisma/migrations/20230425073300_remove_is_like_list_from_mylist/migration.sql
  prisma/migrations/20230503075104_add_category_type_class/migration.sql
  prisma/migrations/20230516225552_youtube_regreq/migration.sql
  prisma/migrations/20230517002240_soundcloud_videosource/migration.sql
  prisma/migrations/20230921220329_bilibili_mad_source/migration.sql
  prisma/migrations/20230921233420_bilibili_source_events/migration.sql
  prisma/migrations/20231024215622_soundcloud_regreq/migration.sql
  prisma/migrations/20231025041728_soundcloud_regreq_nullable_thumbnail/migration.sql
  prisma/migrations/20231025055955_bilibili_regreq/migration.sql
  prisma/migrations/20231208153900_/migration.sql
  prisma/migrations/20231208180729_/migration.sql
  prisma/migrations/20231209153813_abstractgroup/migration.sql
  prisma/migrations/20231210102809_abstractgroup2/migration.sql
  prisma/migrations/20231210145837_tagparent_disable/migration.sql
  prisma/migrations/20231210151413_rm_categorytagtyping/migration.sql
  prisma/migrations/20231214060108_resolve_youtube_regreq/migration.sql
  prisma/migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  prisma/migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  prisma/migrations/20231216122702_is_original/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier

fix graphql-api
  proto/ixgyohn/proxy/v2/proxy.proto
Due: none

mv
  migrations/20230212213107_init/migration.sql
  migrations/20230214152028_semitag_checking/migration.sql
  migrations/20230215051310_semitag_checking2/migration.sql
  migrations/20230221153900_nicovideo_registration_request/migration.sql
  migrations/20230222213316_add_thumbnail_url_to_nicovideo_request/migration.sql
  migrations/20230226220843_nicovideo_regreq_event/migration.sql
  migrations/20230312151513_category_typing/migration.sql
  migrations/20230326031513_youtube_video_source/migration.sql
  migrations/20230405161313_mylist_slug_optional/migration.sql
  migrations/20230405161826_mylist_slug_ensure/migration.sql
  migrations/20230407095907_remove_prisma/migration.sql
  migrations/20230407100556_remove_user_props/migration.sql
  migrations/20230407100807_remove_userrole/migration.sql
  migrations/20230412133522_/migration.sql
  migrations/20230412143301_notification_checked/migration.sql
  migrations/20230425073300_remove_is_like_list_from_mylist/migration.sql
  migrations/20230503075104_add_category_type_class/migration.sql
  migrations/20230516225552_youtube_regreq/migration.sql
  migrations/20230517002240_soundcloud_videosource/migration.sql
  migrations/20230921220329_bilibili_mad_source/migration.sql
  migrations/20230921233420_bilibili_source_events/migration.sql
  migrations/20231024215622_soundcloud_regreq/migration.sql
  migrations/20231025041728_soundcloud_regreq_nullable_thumbnail/migration.sql
  migrations/20231025055955_bilibili_regreq/migration.sql
  migrations/20231208153900_/migration.sql
  migrations/20231208180729_/migration.sql
  migrations/20231209153813_abstractgroup/migration.sql
  migrations/20231210102809_abstractgroup2/migration.sql
  migrations/20231210145837_tagparent_disable/migration.sql
  migrations/20231210151413_rm_categorytagtyping/migration.sql
  migrations/20231214060108_resolve_youtube_regreq/migration.sql
  migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  migrations/20231216122702_is_original/migration.sql
  migrations/migration_lock.toml
  schema.prisma
Due: none

fx
  package.json
Due: prettier

cleanup
  Dockerfile
  migrations/20230212213107_init/migration.sql
  migrations/20230214152028_semitag_checking/migration.sql
  migrations/20230215051310_semitag_checking2/migration.sql
  migrations/20230221153900_nicovideo_registration_request/migration.sql
  migrations/20230222213316_add_thumbnail_url_to_nicovideo_request/migration.sql
  migrations/20230226220843_nicovideo_regreq_event/migration.sql
  migrations/20230312151513_category_typing/migration.sql
  migrations/20230326031513_youtube_video_source/migration.sql
  migrations/20230405161313_mylist_slug_optional/migration.sql
  migrations/20230405161826_mylist_slug_ensure/migration.sql
  migrations/20230407095907_remove_prisma/migration.sql
  migrations/20230407100556_remove_user_props/migration.sql
  migrations/20230407100807_remove_userrole/migration.sql
  migrations/20230412133522_/migration.sql
  migrations/20230412143301_notification_checked/migration.sql
  migrations/20230425073300_remove_is_like_list_from_mylist/migration.sql
  migrations/20230503075104_add_category_type_class/migration.sql
  migrations/20230516225552_youtube_regreq/migration.sql
  migrations/20230517002240_soundcloud_videosource/migration.sql
  migrations/20230921220329_bilibili_mad_source/migration.sql
  migrations/20230921233420_bilibili_source_events/migration.sql
  migrations/20231024215622_soundcloud_regreq/migration.sql
  migrations/20231025041728_soundcloud_regreq_nullable_thumbnail/migration.sql
  migrations/20231025055955_bilibili_regreq/migration.sql
  migrations/20231208153900_/migration.sql
  migrations/20231208180729_/migration.sql
  migrations/20231209153813_abstractgroup/migration.sql
  migrations/20231210102809_abstractgroup2/migration.sql
  migrations/20231210145837_tagparent_disable/migration.sql
  migrations/20231210151413_rm_categorytagtyping/migration.sql
  migrations/20231214060108_resolve_youtube_regreq/migration.sql
  migrations/20231214080129_resolve_youtube_regreq2/migration.sql
  migrations/20231214201404_nicovideo_video_source_registeredat/migration.sql
  migrations/20231216122702_is_original/migration.sql
  migrations/migration_lock.toml
  schema.prisma
Due: none

rmrmrm
  .github/workflows/docker-images.yml
  Dockerfile.migration
  flake.lock
  flake.nix
Due: prettier

fx deps
  package-lock.json
  package.json
Due: prettier

rm migration
  nodejs/prisma/migrations/20231216122702_is_original/migration.sql
Due: none

fx test
  package-lock.json
  package.json
Due: prettier

add as submodule
  .gitmodules
Due: none

fix more
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/docker-images.yml
  .prettierignore
Due: prettier

disable log
  src/index.ts
Due: eslint, prettier

rm unuses
  package-lock.json
  package.json
Due: prettier

pinoのログを一旦無効化 (#1139)
  package-lock.json
  package.json
  src/index.ts
Due: eslint, prettier

Dockerfileの修正
  .dockerignore
  Dockerfile
Due: none

Dockerfileの修正 (#1140)
  .dockerignore
  Dockerfile
Due: none

`addSourceFromYoutube`の追加
  docker-compose.test.yml
  src/NicovideoVideoSource/registerVideoFromNicovideo.resolver.test.ts
  src/YoutubeVideoSource/addSourceFromYoutube.graphql
  src/YoutubeVideoSource/addSourceFromYoutube.resolver.test.ts
  src/YoutubeVideoSource/addSourceFromYoutube.resolver.ts
  src/YoutubeVideoSource/dto.ts
  src/YoutubeVideoSource/registerVideoFromYoutube.resolver.test.ts
  src/common.graphql
  src/mutation.ts
  src/utils/MkResolver.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mdx}
  prettier: any of: *.{js,ts,jsx,tsx,md,mdx,html,json,yml,yaml,graphql}
